<header class="header">
  <nav class="navbar navbar-light">
    <img src="../../../../assets/btc-quiz.svg" class="header__logo" alt="" />
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar = !toggleNavbar"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="toggleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
