.card {
  min-height: 200px;

  &-title {
    font-size: 3rem;
    font-weight: 300;
  }

  &-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  @media all and (max-width: 576px) {
    margin-bottom: 30px;
  }
}
